* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans';
    font-size: 1em;
}

nav {
    position: sticky;
    top: 0px;
    padding: 10px 10px;
    background-color: white;
    z-index: 5;
}

.nav-logo {
    display: inline;
    padding-left: 70px;
}

.right-nav {
    display: inline-block;
    list-style-type: none;
    float: right;
    padding-right: 7%;
}

.nav {
    display: inline;
    margin: 15px;
}

.tuitt-button {
    background-color: #c2195b;
    padding: 10px 20px;
    border-radius: 150px;
    color: white;
    font-weight: bold;
}

.tuitt-button:hover {
    background-color: blue;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    background-attachment: scroll; 
    min-height: 50vh; 
    position: relative;
}

#bg-image .front-bg {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    height: 100%;
}

#bg-image .container {
    align-self: right;
    position: relative;
    color: white;
    max-width: 40%;
    left: 45%;
    padding-left: 40px;
    text-align: right;
    height: 100%;
}

.title {
    font-size: 37px;
    margin-bottom: 20px;
    font-family: 'Zilla Slab';
}

.subtitle {
    padding-left: 30%;
    font-weight: normal;
    padding-bottom: 20px;
}

.apply-button {
    background-color: #c2195b;
    padding: 10px 20px;
    border-radius: 150px;
    color: white;
    font-weight: bold;
}

.apply-button:hover {
    background-color: blue;
}

.intro, .pre-footer  {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 8%;
}

.title-2 {
    font-family: 'Zilla Slab';
    font-size: 37px;
    font-weight: bold;
    padding: 50px;
}

.intro-description {
    text-align: left;
}

.pre-footer {
    text-align: center;
    background-color: #f7fbfb;
}


.book-button {
    margin-top: 5%;
    background-color: #336589;
    border-radius: 150px;
    padding: 10px 30px;
    color: white;
}

.book-button:hover {
    background-color: red;
}


footer {
    text-align: center;
}

